h3 {
    color: yellow ;
    font-size: 20px;
    font-weight: bold; 
}
.red-button {
    display: inline-block;
    padding: 10px 20px;
    background-image: url('https://cdn.iconscout.com/icon/free/png-512/free-chat-1438147-1213937.png?f=webp&w=512);
    background-size: cover; /* Atur ukuran gambar sesuai dengan ukuran tombol */
    background-repeat: no-repeat; /* Jangan ulangi gambar di latar belakang */
    color: white;
    text-decoration: none;
}

.blue-button {
    background-color: blue;
    color: white;
    border: none;
}


a {
    color: white;
    text-decoration: none;
}
