h3 {
    color: yellow ;
    font-size: 20px;
    font-weight: bold; 
}
.red-button {
    display: inline-block;
    padding: 10px 20px;
    background-image: url('https://raw.githubusercontent.com/Inchayiq12345/Barangmurah/main/ic_chat.png');
    background-size: 50px 50px;
    background-repeat: no-repeat;
    color: pink;
    text-decoration: none;
}

.blue-button {
    background-color: blue;
    color: white;
    border: none;
}


a {
    color: white;
    text-decoration: none;
}
