h3 {
    color: yellow ; /* Mengubah warna teks menjadi merah */
    font-size: 75px; /* Mengubah ukuran font */
    font-weight: bold; /* Membuat teks menjadi tebal */
    /* Tambahkan properti CSS lainnya sesuai kebutuhan */
}
